<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utils for zoomos</title>
</head>
<body>
<div th:replace="/include/_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div th:replace="/include/sidebar :: sidebar"></div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <blockquote class="blockquote">
                    <p>Утилиты</p>
                </blockquote>
                <div class="row">
                    <form th:action="@{/excel/vlook}" th:method="post" enctype="multipart/form-data">
                        <label for="extendVlook" class="form-label">ВПР по массиву ШК (в т.ч. перечисленные через
                            запятую)</label>
                        <input type="file" class="form-control form-control-sm" name="file" id="extendVlook"
                               aria-description="VlookHelp">
                        <div id="VlookHelp" class="form-text">* Столбец A - Id клиента кому добавляем ссылки <br>
                            * Столбец B - BAR. Все ненужные знаки игнорируются, некорректные ШК (!=13) игнорируются.<br>
                            Допускается несколько ШК через запятую в одной ячейке<br>
                            * Столбец D - Bar где ищем. Все ненужные знаки игнорируются, некорректные ШК (!=13)
                            игнорируются.<br>
                            Допускается несколько ШК через запятую в одной ячейке<br>
                            * Столбец E - Ссылка<br></div>
                        <br>
                        <button class="btn btn-primary">
                            Загрузить
                        </button>
                    </form>
                </div>

                <div class="row">
                    <form th:action="@{/excel/urlFrom}" th:method="post" enctype="multipart/form-data">
                        <label for="urlFrom" class="form-label">From Импорт ID,BAR,URL в БД</label>
                        <input type="file" class="form-control form-control-sm" name="file" id="urlFrom"
                               aria-description="urlFromHelp">
                        <div id="urlFromHelp" class="form-text">
                            * Столбец A - Id клиента <br>
                            * Столбец B - BAR. Все ненужные знаки игнорируются, некорректные ШК (!=13) игнорируются.<br>
                            Допускается несколько ШК через запятую в одной ячейке<br>
                            * Столбец C - URL<br></div>
                        <br>
                        <button class="btn btn-primary">
                            Загрузить
                        </button>
                    </form>
                </div>

                <div class="row">
                    <form th:action="@{/excel/urlTo}" th:method="post" enctype="multipart/form-data">
                        <label for="urlTo" class="form-label">To Импорт ID,BAR,URL в БД</label>
                        <input type="file" class="form-control form-control-sm" name="file" id="urlTo"
                               aria-description="urlToHelp">
                        <div id="urlToHelp" class="form-text">
                            * Столбец A - Id клиента <br>
                            * Столбец B - BAR. Все ненужные знаки игнорируются, некорректные ШК (!=13) игнорируются.<br>
                            Допускается несколько ШК через запятую в одной ячейке<br>
                            * Столбец C - URL<br></div>
                        <br>
                        <button class="btn btn-primary">
                            Загрузить
                        </button>
                    </form>
                </div>
                <div class="row">
                    <form th:action="@{/excel/deleteAll}" th:method="post">
                        <div id="deleteAllHelp" class="form-text">
                            * Полностью очишаем таблицы UrlFrom и UrlTo <br>
                        </div>
                        <br>
                        <button class="btn btn-primary">
                            Очистить
                        </button>
                    </form>
                </div>

                <div class="row">
                    <form th:action="@{/excel/stat/}" th:method="post" enctype="multipart/form-data">
                        <br>
                        <label for="fileStatistic" class="form-label">Обработка файла статистики</label>
                        <div>
                            <input type="file" class="form-control form-control-sm" name="file" id="fileStatistic">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="showSource" name="showSource"
                                       value="1">
                                <label class="form-check-label" for="showSource">
                                    Кто прописал
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="sourceReplace" name="sourceReplace"
                                       value="1">
                                <label class="form-check-label" for="sourceReplace">
                                    Заменить источник для клиента
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="showCompetitorUrl"
                                       name="showCompetitorUrl" value="1">
                                <label class="form-check-label" for="showCompetitorUrl">
                                    URL конкурента
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="showDateAdd"
                                       name="showDateAdd" value="1">
                                <label class="form-check-label" for="showDateAdd">
                                    Дата добавления
                                </label>
                            </div>

                            <br>
                            <button class="btn btn-primary">
                                Загрузить
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form th:action="@{/excel/getUrl/}" th:method="post" enctype="multipart/form-data">
                        <br>
                        <label for="getUrl" class="form-label">Сбор ссылок</label>
                        <div>
                            <input type="file" class="form-control form-control-sm" name="file" id="getUrl">
                            <br>
                            <button class="btn btn-primary">
                                Загрузить
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>