/zoom.iml
/logs/
resources/
resources/temp
/HELP.md
/mvnw
/mvnw.cmd
.idea/
.mvn/
.mvn/wrapper
target/
zoom.rar
!/src/main/resources/static/css/
!/src/main/resources/templates/clients/
!/src/main/resources/templates/include/
