<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AV.ru</title>
    <script>
        function updateTempTableIndex() {
            fetch('/excel/av/update-temp-table-index', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    alert('Temp table index updated successfully');
                } else {
                    alert('Failed to update temp table index');
                }
            }).catch(error => {
                console.error('Error updating temp table index:', error);
            });
        }
    </script>
</head>
<body>
<div th:replace="/include/_header :: content"></div>
<div class="container">
    <div class="row">
        <!-- Левая колонка -->
        <div class="col-sm-3">
            <div th:replace="/include/sidebar :: sidebar"></div>
        </div>

        <!-- Правая колонка -->
        <div class="col-sm-9">
            <h2 class="display-4 mb-4">Azbukavkusa</h2>

            <!-- Обработка задания -->
            <div class="row">
                <div class="col-12 col-sm-6">
                    <form th:action="@{/excel/av/upload/task}" th:method="post" enctype="multipart/form-data">
                        <h4>Обработка задания</h4>
                        <div class="mb-3">
                            <label for="AvTask" class="form-label">Выберите файл:</label>
                            <input type="file" class="form-control" name="file" multiple id="AvTask">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary">
                                    Загрузить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Загрузка справочника -->
                <div class="col-12 col-sm-6">
                    <form th:action="@{/excel/av/upload/handbook}" th:method="post" enctype="multipart/form-data">
                        <h4>Загрузка справочника</h4>
                        <div class="mb-3">
                            <label for="handbook" class="form-label">Выберите файл:</label>
                            <input type="file" class="form-control" name="file" id="handbook">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary">
                                    Загрузить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Обработка отчета -->
            <div class="row mt-3">
                <div class="col-12 col-sm-6">
                    <form th:action="@{/excel/av/upload/report}" th:method="post" enctype="multipart/form-data">
                        <h4>Обработка отчета</h4>
                        <div class="mb-3">
                            <label for="AvReport" class="form-label">Выберите файл:</label>
                            <input type="file" class="form-control" name="file" multiple id="AvReport">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">
                                    Загрузить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Вариант для скачивания -->
                <div class="col-12 col-sm-6">
                    <h4>Download Report</h4>
                    <form th:action="@{/excel/av/download/report}" method="post" class="mb-3">
                        <div class="mb-3">
                            <label for="report_no" class="form-label">Download report:</label>
                            <select id="report_no" name="report_no" class="form-select" required>
                                <option value="">Выбери № отчета</option>
                                <option th:each="report_no : ${reports}" th:value="${report_no}"
                                        th:text="${report_no}"></option>
                            </select>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Download">
                        <input type="submit" class="btn btn-danger" value="Delete report" name="delete">
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-sm-6">
                    <h4>Download Task</h4>
                    <form th:action="@{/excel/av/download/task}" method="post" class="mb-3">
                        <div class="mb-3">-->
                            <label for="task_no" class="form-label">Download task:</label>
                            <select id="task_no" name="task_no" class="form-select" required>
                                <option value="">Выбери № задачи</option>
                                <option th:each="task_no : ${tasks}" th:value="${task_no}"
                                        th:text="${task_no}"></option>
                            </select>
                        </div>
                        <!-- Добавлен селектор с выбором поля retailerCode retailNetworks -->
                        <div class="mb-3">
                            <label for="retailNetworkCode" class="form-label">Choose retailer code in task:</label>
                            <select id="retailNetworkCode" name="retailNetworkCode" class="form-select">
                                <option value="">Выбери retailer network</option>
                                <option th:each="retailNetworkCode : ${retailNetworkCode}" th:value="${retailNetworkCode}"
                                        th:text="${retailNetworkCode}"></option>
                            </select>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Download">
                        <input type="submit" class="btn btn-danger" value="Delete task" name="delete">
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-sm-6">
                    <button class="btn btn-warning" onclick="updateTempTableIndex()">
                        Обновить индекс временной таблицы
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>