<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lenta</title>
</head>
<body>
<div th:replace="/include/_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div th:replace="/include/sidebar :: sidebar"></div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <blockquote class="blockquote">
                    <p>Detmir.ru</p>
                </blockquote>
                <div class="col-12 col-sm-6">
                    <form th:action="@{/excel/stat/detmirStats}" th:method="post" enctype="multipart/form-data">
                        <div class="">
                            <input type="file" class="form-control" name="file">
                            <br>
                            <button class="btn btn-primary">
                                Статистика detmir.ru-2
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>