<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lenta</title>
</head>
<body>
<div th:replace="/include/_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div th:replace="/include/sidebar :: sidebar"></div>
        </div>
        <div class="col-sm-9">
            <h2 class="display-4 mb-4">Lenta</h2>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <form th:action="@{/excel/lenta}" th:method="post" enctype="multipart/form-data">
                        <h4>Обработка задания клиента Lenta</h4>
                        <div class="mb-3">
                            <label for="lentaTask" class="form-label">Выберите файл:</label>
                            <input type="file" class="form-control" name="file" id="lentaTask">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary" name="lenta" value="task">
                                    Загрузить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-6">
                    <form th:action="@{/excel/lentaReport}" th:method="post" th:object="${lenta}" enctype="multipart/form-data">
                        <h4>Обработка отчета клиента Lenta</h4>
                        <div class="mb-3">
                            <label for="lentaReport" class="form-label">Выберите файл отчета:</label>
                            <input type="file" class="form-control" name="file" id="lentaReport" placeholder="file">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"> Удалить акции старше </span>
                            <input type="date" class="form-control" th:field="${lenta.afterDate}"/>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" name="lenta" value="report">
                                    Загрузить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <form th:action="@{/excel/edadeal}" th:method="post" enctype="multipart/form-data">
                        <h4>Обработка выгрузки Едадила</h4>
                        <div class="mb-3">
                            <label for="edadeal" class="form-label">Выберите файл выгрузки:</label>
                            <input type="file" class="form-control" name="file" id="edadeal" placeholder="file" aria-describedby="edadealAria">
                            <div id="edadealAria" class="form-text">Удалить все строки содержащие цены "от" и склеить продавец + модель в ID
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" name="lenta" value="edadeal">
                                    Загрузить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>