<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lenta</title>
</head>
<body>
<div th:replace="/include/_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div th:replace="/include/sidebar :: sidebar"></div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <blockquote class="blockquote">
                    <p>Megatop.by</p>
                </blockquote>
                <div class="col-12 col-sm-6">
                    <form th:action="@{/excel/megatop}" th:method="post" enctype="multipart/form-data">
                        <label for="megatopReport" class="form-label">Обработка отчета клиента megatop.by (kari, belwest, marko).</label>
                        <div class="">
<!--                            <br>-->
                            <input type="file" class="form-control form-control-sm" name="file" id="megatopReport" aria-describedby="megatopHelp" multiple>
                            <div id="megatopHelp" class="form-text">Удаляются дубли в отчетах. <br>
                                В отчете kari удаляются старые записи (старше 01.08.2020)
                            </div>
                            <br>
                            <button class="btn btn-primary">
                                Загрузить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>